@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
/* src/index.css */
html, body {
  margin: 0;
  padding: 0;
  background-color: #f0ded0; /* Ensure the background color is applied to the entire page */
}

#root {
  min-height: 100vh;
}
  